@charset "utf-8";
/* CSS Document */
*{
	padding:0px;
	margin:0px;
	outline:none;
	border:0px;
	box-sizing:border-box;
	text-decoration:none;
	color:#222;
}
#head{
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:1000;
	}
#foot{
	width:100%;
	position:fixed;
	bottom:0px;
	left:0px;
	z-index:1000;
	}
#middle{
	width:100%;
	padding-top:140px;
	padding-bottom:239px;
	}
#loadingBG{
	position:fixed;
	top:0px;
	left:0px;
	background-color:rgba(0,0,0,0.3);
	z-index:100;
	width:100%;
	height:100%;
	}
#loading{
	position:fixed;
	color:#FFFFFF;
	width:100%;
	text-align:center;
	z-index:101;
	}
#loading .fa{
	font-size:155px;
	color:#fff;}
#pop{
	position:fixed;
	top:auto;
	left:20%;
	width:60%;
	display:none;
	z-index:101;
	}
.clear{
	clear:both;}