@charset "utf-8";
/* CSS Document */
*{
	padding:0px;
	margin:0px;
	outline:none;
	border:0px;
	box-sizing:border-box;}
#head{
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:10;
	}
#foot{
	width:100%;
	position:fixed;
	bottom:0px;
	left:0px;
	z-index:10;
	}
#middle{
	width:100%;
	padding-top:140px;
	padding-bottom:239px;
	}


.clear{
	clear:both;}