<link href="css/deal_list.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="deal_list">
<% _.each(group,function(n){ %>
	<div class="group">
	<div class="group_head">
    	<div class="group_title"><%= n.title %></div>
        <a class="group_nav hl">进行中</a>
        <a class="group_nav">即将开始</a>
        <a class="group_nav">已结束</a>
        <div class="clear"></div>
    </div>
    <div class="group_main">
    <% _.each(n.list,function(o){ %>
    	<div class="point" pid="<%= o.id %>">
        	<img class="left" src="<%= o.image %>"/>
            <div class="right">
            	<div class="money">目标金额：￥<%= o.price %></div>
                <div class="button">认购</div>
                <div class="clear"></div>
                <div class="title"><%= o.title %>-<%= o.subhead %></div>
                <div class="dsc">年化收益率高达<%= o.yearReturn %>以上</div>
                <div class="clear"></div>
                <div class="third">
                	<div class="top">众筹笔数</div>
                    <div class="bottom">￥<%= o.copy %></div>
                </div>
                <div class="third">
                	<div class="top">众筹金额</div>
                    <div class="bottom">￥<%= o.price %></div>
                </div>
                <div class="third">
                	<div class="top">持有期限</div>
                    <div class="bottom"><%= o.maxTime %>个月</div>
                </div>
                <div class="clear"></div>
                <div class="bar">
                	<div class="color" style="width:<%= (o.payedCount/o.copy)*100 %>%;"></div>
                    已众筹<%= (o.payedCount/o.copy)*100 %>%
                </div>
                <div class="bar">
                	<div class="color" style="width:<%= o.more %>%;"></div>
                    增值<%= o.more %>%
                </div>
            </div>
            <div class="clear"></div>
        </div>
    <% }) %>
    	
    </div>
    </div>
<% }) %>
	
</div>
<script>
$(".deal_list .point").unbind("click").bind("click",function(){
	window.location.hash="produceDetail/"+$(this).attr("pid");
	})
</script>