<link href="css/deal_list.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="deal_list">
	<div class="group">
	<div class="group_head">
    	<div class="group_title">每日精选</div>
        <a class="group_nav hl">热门项目</a>
        <a class="group_nav">最新上线</a>
        <a class="group_nav">即将成功</a>
        <a class="group_nav">最多支持</a>
        <a class="group_nav">成功案例</a>
        <a class="group_all">浏览全部</a>
        <div class="clear"></div>
    </div>
    <div class="group_main">
    	<div class="point">
        	<img class="left" src="http://"/>
            <div class="right">
            	<div class="money">目标金额：￥9382039</div>
                <div class="button">认购</div>
                <div class="clear"></div>
                <div class="title">中筹三期I-中环SOHO未来</div>
                <div class="dsc">年化收益率高达1以上</div>
                <div class="clear"></div>
                <div class="third">
                	<div class="top">当前市值</div>
                    <div class="bottom">￥1233432</div>
                </div>
                <div class="third">
                	<div class="top">当前市值</div>
                    <div class="bottom">￥1233432</div>
                </div>
                <div class="third">
                	<div class="top">当前市值</div>
                    <div class="bottom">￥1233432</div>
                </div>
                <div class="clear"></div>
                <div class="bar">
                	<div class="color" style="width:10%;"></div>
                    已众筹10%
                </div>
                <div class="bar">
                	<div class="color" style="width:10%;"></div>
                    增值10%
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    </div>
</div>
