<link href="css/form_one.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="form_one">
	<div class="left">
    	<img class="top" src="<%= list[0] %>"/>
        <div class="clear"></div>
        <img class="bottomL" src="<%= list[1] %>"/>
        <img class="bottomR" src="<%= list[2] %>"/>
        <div class="clear"></div>
    </div>
    <div class="right">
    	<img class="top" src="<%= list[3] %>"/>
        <img class="bottom" src="<%= list[4] %>"/>
    </div>
    <div class="clear"></div>
</div>