<link href="css/template_head.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="template_head">
	<div class="topFrame">
    	<div class="top">
        	<img class="icon" src="img/headerLogo.jpg"/>
            <div class="searchFrame">
            	<input class="searchInput"/>
                <div class="searchButton">搜索</div>
                <div class="clear"></div>
                <a href="#single/1/0" class="searchPoint">公益</a>
                <a href="#double/1/1" class="searchPoint">科技</a>
                <a href="#single/1/2" class="searchPoint">艺术</a>
                <a href="#double/1/3" class="searchPoint">娱乐</a>
                <a href="#single/1/4" class="searchPoint">出版</a>
                <a href="#double/1/5" class="searchPoint">农业</a>
                <a href="#single/1/6" class="searchPoint">商铺</a>
                <a href="#double/1/7" class="searchPoint">地方站</a>
                <div class="clear"></div>
            </div>
            <div class="button" id="login">登录</div>
            <div class="button" id="regist">快速注册</div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="bottomFrame">
    	<div class="bottom">
        	<a href="#index" class="nav">首页</a>
            <a href="#single/0/0" class="nav">一手房众筹</a>
            <a href="#double/0/1" class="nav">二手房众筹</a>
            <a href="#single/0/2" class="nav">出租房众筹</a>
            <a href="#help" class="nav">帮助中心</a>
            <div class="tel">官方咨询电话 <span class="telNum">100-010-6810</span></div>
            <div class="telIcon"><span class="fa fa-phone"></span></div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script>
$(".template_head #login").unbind("click").bind("click",function(){
	app.pop.on("login");
	});
$(".template_head #regist").unbind("click").bind("click",function(){
	app.pop.on("regist");
	});
</script>