<link href="css/template_head.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="template_head">
	<div class="topFrame">
    	<div class="top">
        	<img class="icon" src="img/headerLogo.jpg"/>
            <div class="searchFrame">
            	<input class="searchInput"/>
                <div class="searchButton">搜索</div>
                <div class="clear"></div>
                <div class="searchPoint">公益</div>
                <div class="searchPoint">科技</div>
                <div class="searchPoint">艺术</div>
                <div class="searchPoint">娱乐</div>
                <div class="searchPoint">出版</div>
                <div class="searchPoint">农业</div>
                <div class="searchPoint">商铺</div>
                <div class="searchPoint">地方站</div>
                <div class="clear"></div>
            </div>
            <div class="button">登录</div>
            <div class="button">快速注册</div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="bottomFrame">
    	<div class="bottom">
        	<div class="nav">首页</div>
            <div class="nav">股权众筹</div>
            <div class="nav">奖励众筹</div>
            <div class="nav">公益众筹</div>
            <div class="nav">房产众筹</div>
            <div class="nav">帮助中心</div>
            <div class="tel">官方咨询电话 <span class="telNum">100-010-6810</span></div>
            <div class="telIcon"><span class="fa fa-phone"></span></div>
            <div class="clear"></div>
        </div>
    </div>
</div>
