<link href="css/template_foot.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="template_foot">
	<div class="topFrame">
    	<div class="navFrame">
        	<a class="nav">关于我们</a>
            <a class="nav">联系我们</a>
            <a class="nav">服务协议</a>
            <a class="nav">项目发起范围</a>
            <a class="nav">新手帮助</a>
            <a class="nav">帮助中心</a>
            <a class="nav">投融资服务</a>
            <a class="nav">众筹咨询</a>
            <div class="clear"></div>
        </div>
        <div class="shareFrame">
        	<div class="shareTitle">关注我们</div>
            <div class="share"><span class="fa fa-qq"></span></div>
            <div class="share"><span class="fa fa-weixin"></span></div>
            <div class="share"><span class="fa fa-tencent-weibo"></span></div>
            <div class="share"><span class="fa fa-weibo"></span></div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="bottomFrame">
    	<div class="bottom">
        ©2014 北京网信众筹网络科技有限公司 zhongchou.com 版权所有 京ICP证150145号 | 出版物经营许可证编号新出发（京）批字第直140141号 | 营业性演出许可证 编号：京市演2102 | 食品流通许可证 编号：SP1101051410311599
        </div>
    </div>
</div>